 <table class="tabelaS">
        <thead>
            <tr>
                <th>VIN</th>
                <th>ODOMETRO</th>
                <th>NIVEL DO COMBUSTIVEL</th>
                <th>STATUS</th>
                <th>LAT</th>
                <th>LONG</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text" placeholder="{{ vin }}" value="{{ vin }}" class="w-50" ></td>
                <td>{{km}}Km</td>
                <td>{{nivelCombustivel}}%</td>
                <td>{{status}}</td>
                <td>{{lat}}</td>
                <td>{{long}}</td>
            </tr>
        </tbody>
    </table>